<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theghosttechnology.dragonide">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:persistent="true"
        android:hardwareAccelerated="true"
        android:excludeFromRecents="false"
	android:label="Dragon IDE"
        android:launchMode="singleTask"
	android:icon="@mipmap/ic_codeide"
	android:roundIcon="@mipmap/ic_codeide">
	<activity
            android:name=".MainActivityCodeHackIDE"
	    android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
	    android:windowSoftInputMode="adjustResize|adjustPan"
	    android:hardwareAccelerated="true"
	    android:persistent="true"
            android:taskAffinity=".MainActivityCodeHackIDE"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="Dragon IDE"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name=".MyNot" >

        </service>

    </application>

</manifest>
